.global {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorbg1;
  width: 80%;
  max-width: 1000px;
  margin: 1rem 0;
  overflow: hidden;
}

.global_Container_title {
  color: $textColor;
  background-color: $colorbg1;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCity_Global_Container {
  width: 100%;
}

.carouselMegaBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonBox_carousel_Global {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCity_Global {
  width: 45%;
  object-position: 50% 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.imgBigGlobal_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgBigGlobal {
  width: 45%;
  height: 60vh;
  object-fit: cover;
}

.imgSmallGlobal_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.imgSmallGlobal {
  width: 45%;
}

.imgSmallGlobal1 {
  margin-bottom: 1rem;
}

.backToIndex {
  color: $textColor;

  margin: 1rem 0;
  padding: 1rem 2rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8015581232492998) 0%,
    rgba(255, 183, 210, 0.5270483193277311) 50%,
    rgba(0, 0, 0, 0.8435749299719888) 100%
  );
  text-align: center;
  transition: 200ms ease-in;
  border-radius: 15px;
  filter: brightness(0.7);
  border: 2px solid rgba(0, 0, 0, 0.672);
  text-decoration: none;
}

.backToIndex:hover {
  filter: brightness(1.2);
  color: rgba(192, 251, 103, 0.674);
  padding: 1rem 3rem;
  border-radius: 5px;
}

@media screen and (max-width: 874px) {
  .global {
    width: 100%;
  }

  .imgCity_Global {
    width: 80%;
  }

  .imgBigGlobal_Container {
    flex-direction: column;
  }

  .carouselMegaBox {
    flex-direction: column;
  }

  .imgBigGlobal {
    width: 80%;
  }

  .imgBigGlobal1 {
    margin-bottom: 1rem;
  }

  .imgSmallGlobal {
    width: 80%;
  }

  .imgSmallGlobal2 {
    margin-top: 1rem;
  }

  .buttonBox_carousel_Global > * {
    padding: 1rem 0rem;
  }
}
