.street_content {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorbg1;
  width: 80%;
  max-width: 1000px;
  margin: 1rem 0;
}

.videoStreet_Box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.videoStreet {
  width: 45%;
  height: 400px;
  object-fit: cover;
}

.videoStreet1 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 874px) {
  .street_content {
    width: 100%;
  }

  .videoStreet {
    width: 80%;
  }

  .videoStreet2 {
    margin-top: 1rem;
  }
  .videoStreet_Box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
