body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.948);
  overflow-x: hidden;
}

* {
  margin: 0;
  font-family: "Corben", cursive;
}

h1,
h2 {
  font-family: "Audiowide", cursive;
}

h3,
h4,
h5,
h6 {
  font-family: "Syncopate", sans-serif;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: rgba(255, 255, 255, 0.948);
}

.loader {
  border: 10px solid #ff94ea;
  border-top: 10px solid #7b0698;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 1rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.humanImg {
  width: 70%;
  border-radius: 2.5px;
}

.iconGender {
  width: 18px;
  margin: 0 1rem;
}

@media screen and (max-width: 874px) {
  .humanImg {
    margin: 0.5rem 0;
    width: 60%;
    max-width: 600px;
  }
}
header {
  background-color: rgba(0, 0, 0, 0.408);
  color: rgba(255, 255, 255, 0.948);
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50% 0%;
  filter: blur(7px);
}

.main_content {
  background-color: rgba(0, 0, 0, 0.408);
  z-index: 1;
  width: 80%;
  max-width: 1600px;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: 200ms ease-in;
}

.title_main_content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.408);
  width: 100%;
  padding: 1rem 0;
}

.title_main {
  width: 80%;
  color: rgba(255, 255, 255, 0.948);
  font-size: 17px;
  font-family: "Audiowide", cursive;
}

.ImgContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image_container {
  position: relative;
  display: inline-block;
  filter: brightness(0.8);
  opacity: 0.8;
  transition: 400ms ease-out;
}

.image_title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 0.25rem;
  transition: 400ms ease-out;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.948);
  background-color: rgba(0, 0, 0, 0.826);
  width: 30%;
  opacity: 1;
}

.image_container:hover {
  opacity: 1;
  filter: brightness(1.1);
}

.image_container:hover > .image_title {
  opacity: 0;
  filter: brightness(1.1);
}

@media screen and (max-width: 874px) {
  .main_content {
    width: 100%;
  }
  .main_content {
    height: auto;
    padding: 1rem 0;
  }
  .ImgContent {
    flex-direction: column;
  }
  .image_title {
    font-size: 15px;
  }
  .title_main {
    font-size: 14px;
  }
}
.global {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.408);
  width: 80%;
  max-width: 1000px;
  margin: 1rem 0;
  overflow: hidden;
}

.global_Container_title {
  color: rgba(255, 255, 255, 0.948);
  background-color: rgba(0, 0, 0, 0.408);
  padding: 1rem 0;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCity_Global_Container {
  width: 100%;
}

.carouselMegaBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonBox_carousel_Global {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCity_Global {
  width: 45%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.imgBigGlobal_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgBigGlobal {
  width: 45%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgSmallGlobal_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.imgSmallGlobal {
  width: 45%;
}

.imgSmallGlobal1 {
  margin-bottom: 1rem;
}

.backToIndex {
  color: rgba(255, 255, 255, 0.948);
  text-decoration: none;
  margin: 1rem 0;
  padding: 1rem 2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8015581232) 0%, rgba(255, 183, 210, 0.5270483193) 50%, rgba(0, 0, 0, 0.84357493) 100%);
  text-align: center;
  transition: 200ms ease-in;
  border-radius: 15px;
  filter: brightness(0.7);
  border: 2px solid rgba(0, 0, 0, 0.672);
  text-decoration: none;
}

.backToIndex:hover {
  filter: brightness(1.2);
  color: rgba(192, 251, 103, 0.674);
}

@media screen and (max-width: 874px) {
  .global {
    width: 100%;
  }
  .imgCity_Global {
    width: 80%;
  }
  .imgBigGlobal_Container {
    flex-direction: column;
  }
  .carouselMegaBox {
    flex-direction: column;
  }
  .imgBigGlobal {
    width: 80%;
  }
  .imgBigGlobal1 {
    margin-bottom: 1rem;
  }
  .imgSmallGlobal {
    width: 80%;
  }
  .imgSmallGlobal2 {
    margin-top: 1rem;
  }
  .buttonBox_carousel_Global > * {
    padding: 1rem 0rem;
  }
}
.street_content {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.408);
  width: 80%;
  max-width: 1000px;
  margin: 1rem 0;
}

.videoStreet_Box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.videoStreet {
  width: 45%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videoStreet1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 874px) {
  .street_content {
    width: 100%;
  }
  .videoStreet {
    width: 80%;
  }
  .videoStreet2 {
    margin-top: 1rem;
  }
  .videoStreet_Box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.408);
  color: rgba(255, 255, 255, 0.948);
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}/*# sourceMappingURL=index.css.map */